<div class="row">
    <div class="col">
      <!-- selection dropdown for reports -->
      <mat-form-field>
        <mat-select placeholder="Select report" [(ngModel)]="reportName">
          <mat-option *ngFor="let report of reports" [value]="report.value" (click)="validatePeriods()">
            {{ report.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col align-self-center">
      <!-- toggle for enabling dataset dropdown -->
      <mat-slide-toggle class="mat-primary" [(ngModel)]="checked" (click)="clearChips(checked)" [disabled]="!reportName || reportName=='Ewarn Report'">Multiple datasets ?</mat-slide-toggle>
    </div>
    <div class="col">
      <!-- selection dropdown for datasets -->
      <mat-form-field>
        <mat-select placeholder="Select Dataset" [disabled]="!checked || reportName=='Ewarn Report'" [formControl]="multidatasets"
          [(ngModel)]="selectedvalues" multiple>
          <mat-option *ngFor="let dataset of datasetsArray"  [value]="dataset" (click)="chips($event, selectedvalues)">
            {{ dataset.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>