<app-loader id="loader"></app-loader>

<div class="row no-gutters flex-xl-nowrap clearfix" style="min-height:100vh;display: none;" id="mainPage">
    <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
        <app-orgunitlibrary></app-orgunitlibrary>
    </div>
    <!-- <mat-divider [vertical]="true"></mat-divider> -->
    <div class="col-lg-8 col-12 col-md-9 col-xl-8 py-md-1 pl-md-3">
        <div class="row">
            <div class="col">
                <app-headerselections></app-headerselections>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row">
            <div class="col">
                <app-rightbarselections></app-rightbarselections>
            </div>
        </div><br><br>
        <div class="row">
            <div class="col">
                <app-tablecard></app-tablecard>
            </div>
        </div>
    </div>
    <!-- <mat-divider [vertical]="true"></mat-divider> -->
    <div class="d-none d-xl-block col-xl-2 bd-toc">
        <app-datasetstabs></app-datasetstabs>
    </div>
</div>
